.btn {
  border: 0px;
  border-radius: 3px;

  &:hover {
    transition: background-color 0.4s ease-in,
              color 0.4s ease-in;
  }
}

.btn-primary {
  background-color: $primary-button;

  &:hover {
    background-color: $primary-button-hover;
  }
}
