// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song {
  min-height: 160px;
  font-size: 12px;
  background: rgba(255,255,255,0.9);
  border: 5px solid rgba(0,0,0,0) !important;
  padding: 20px;
  margin-bottom: 1px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px
  rgba(0, 0, 0, 0.3), 0 0 40px
  rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px
  rgba(0, 0, 0, 0.3), 0 0 40px
  rgba(0, 0, 0, 0.1) inset;
  border-radius: 2px 2px 2px 2px;
}

@media screen and (min-width: 767px) {
    .song {
        font-size: 13px;
    }
}
