// Colors

$primary: #5FCF72;
$primary-dark:  #35b158;
$secondary: #ffffff;
$secondary-dark: #ffffff;
$warning: #ffffff;
$warning-dark: #ffffff;
$alert: #ffffff;
$alert-dark: #ffffff;
$info: #ffffff;
$info-dark: #ffffff;

$white: #FFFFFF;
$light-grey: #f5f5f5;
$medium-grey: #b3b3b3;

// Fonts

$font-family: 'Roboto', 'sans-serif';
$font-text: 14px;
$font-h1: 34px;
$font-h2: 26px;
$font-h3: 20px;
$font-h4: 16px;
$font-h5: 14px;

// Buttons

$primary-button: $primary;
$primary-button-hover: $primary-dark;
$primary-button-font: $white;
$primary-button-font-hover: $white;

// Navigation

$navigation-link-size: 15px;
$navigation-link-weight: 300;

// Footer

$footer-link-size: 12px;
$footer-link-color: $primary-dark;
$footer-link-weight: 300;

$footer-title-size: 14px;
$footer-title-color: $medium-grey;
$footer-title-weight: 300;
