<div class="field">
  <%= f.label :business %><br />
  <%= f.select :business, options_for_select(%w[Banking Insurance Engineering IT Finance Legal Marketing Sales Communication
      HR Healthcare Administration Government Construction Industry]) %><br />
</div>

<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description, cols: 40, rows: 15 %><br />
</div>
