<footer class="page-footer white footer-border">
  <div class="container">
    <div class="row">
      <div class="col l4 m6 s12">
        <h5 class="grey-text text-darken-4 light">Why</h5>
        <p class="light grey-text text-darken-4">
          There are lots of recruitment agencies
          around. Most of their work can be done by a spam-bot. Why pay for
          someone who treats your resume like a harlot?

          You don't need a recruiter and you don't need a spam-bot.
        </p>


      </div>
      <div class="col l3 m3 s6 right">
        <h5 class="grey-text text-darken-4 light">Settings</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 m3 s6 right">
        <h5 class="grey-text text-darken-4 light">Connect</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    Made by <a class="grey-text text-lighten-3">Roggers</a>
    </div>
  </div>
</footer>
