<div class="row">
  <div class="center col s12 m12 l12">
    <div class="card grey lighten-4">
      <div class="card-content">
        <div class="card-title">
          <h2><%= @employer.company_name %></h2>
        </div>
        <table class="table highlight">
          <!-- table header -->
          <tr>
            <th>location</th>
            <th>business</th>
            <th>amount of jobs</th>
          </tr>
          <!-- loop for creating overview of employers -->
            <tr>
              <td><%= @employer.location %></td>
              <td><%= @employer.business %></td>
              <td> 120 </td>
            </tr>
        </table>
      </div>
      <div class="card-action">

      </div>
    </div>
  </div>
</div>
